{% extends 'base.html' %}




{% block content %}
<style>

.numbered-list {
  counter-reset: tr;
  list-style-type: none;
  font-size: 14px;
  line-height: 18px;
  padding-left: 10px;
}

.numbered-list tr {
    position: relative;
    padding: 5px 0 5px 30px;
}

.numbered-list td:first-child:before {
      content: counter(tr);
      counter-increment: tr;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      text-align: center;
}


</style>
<div class="offset-3 col-md-6">
<div align="center">
{% with url_name=request.resolver_match.url_name %}
	{% if url_name == 'new_test_case' %}
		<h2> <samp> Add a new test-case:</samp> </h2>
	{% elif url_name == 'edit_test_case' %}
		<h2><samp> Edit test-case:</samp> {{testcase}} </h2>
	{% elif url_name == 'delete_test_case' %}
		<h2> <samp>Delete test-case:</samp> {{testcase}}</h2>
	{% else %}
		<h2>
            <table class="table"> 
                <tr>
                    <td>
                    <samp>    Test-Case View </samp>
                    </td>
                    <td>
                        <button class = "btn btn-warning"> Edit </button>
                    </td>
                    <td>
                        <button class = "btn btn-danger"> Delete </button>
                    </td>
                </tr>
            </table>
        </h2>
</div>
	{% endif %}
{% endwith %}



{% if messages %}
	{% for message in messages %}
		<div {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">X</span></button>
			<strong>{{message}}</strong>
		</div>
	{% endfor %}
{% else %}



<!-- testcase -->
        <div align="left">
            <hr>
            Title:<br>
             {% with url_name=request.resolver_match.url_name %}
                        {% if url_name == 'edit_test_case' %}
                            <input type="text" name="title" value="{{testcase.get_title}}" >
                        {% elif url_name == 'new_test_case' %}
                            <input type="text" name="title" placeholder="Type some text here...">
                        {% else %}
                            <input type="text" name="title" value="{{testcase.get_title}}" disabled>
                        {% endif %}
            {% endwith %}
            <hr>
            <table class="table">
                <tr>
                    <td>
                    Project:<br>
                    {% with url_name=request.resolver_match.url_name %}
                        {% if url_name == 'edit_test_case' %}
                            <select  name="Project">
                                <option selected>{{testcase.get_project}}</option>
                            </select>
                        {% elif url_name == 'new_test_case' %}
                            <select name="Project">
                                <option selected>BI</option>
                            </select>
                        {% else %}
                            <select disabled name="Project">
                                <option selected>{{testcase.get_project}}</option>
                            </select>           
                        {% endif %}
                    {% endwith %}
                    </td>
                    <td>
                    Priority:<br>
                    {% with url_name=request.resolver_match.url_name %}
                        {% if url_name == 'edit_test_case' %}
                            <select  name="Project">
                                <option selected>{{testcase.get_priority}}</option>
                            </select>
                        {% elif url_name == 'new_test_case' %}
                            <select name="Project">
                                <option selected>Smoke</option>
                            </select>
                        {% else %}
                            <select disabled name="Project">
                                <option selected>{{testcase.get_priority}}</option>
                            </select>   
                        {% endif %}
                    {% endwith %}
                    
                    </td>
                </tr>
            </table>
            <hr>
            Description:<br>
            {% with url_name=request.resolver_match.url_name %}
                {% if url_name == 'edit_test_case' %}
                    <textarea rows="2" cols="50" name="description" >
                        {{testcase.get_description}}
                    </textarea>
                {% elif url_name == 'new_test_case' %}
                     <textarea rows="2" cols="50" name="description" placeholder="Type some text here..."></textarea>
                {% else %}
                    <textarea rows="2" cols="50" name="description" disabled>
                        {{testcase.get_description}}
                    </textarea>           
                {% endif %}
            {% endwith %}
           
            <hr>


            Condtitions:<br>
            <table class="table numbered-list" width="100%">
                <tr>
                    <th scope="col"> # </th>
                    <th scope="col"> Screen </th>
                    <th scope="col"> Action </th>
                    <th scope="col"> Element </th>
                    <th scope="col"> TestData </th>
                    {% with url_name=request.resolver_match.url_name %}
                        {% if url_name == 'edit_test_case' %}
                            <th scope="col">  </th>
                        {% endif %}
                    {% endwith %}
                </tr>
                {% for c in testcase.get_conditions %}
                    <tr>
                        <td width="5%">

                        </td>
                        <td width="20%">
                            {{c.get_screen}}
                        </td>
                        <td width="20%">
                            {{c.get_action}}
                        </td>
                        <td width="20%">
                            {% if c.get_element %}
                                {{c.get_element}}
                            {% endif %}
                        </td>
                        <td width="35%">
                            {% if c.get_testdata %}
                                {{c.get_testdata}}
                            {% endif %}
                        </td>
                        {% with url_name=request.resolver_match.url_name %}
                            {% if url_name == 'edit_test_case' %}
                                <td>
                                    <button type="submit" class="btn btn-warning" > Edit </button>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-danger" > Delete </button>
                                </td>
                            {% endif %}
                        {% endwith %}
                    </tr>
                {% endfor %}
                {% with url_name=request.resolver_match.url_name %}
                        {% if url_name == 'edit_test_case' or url_name == 'new_test_case' %}
                            <form method="post" name="AddCondForm">
                                {% csrf_token %}
                                <td>
                                </td>
                                <td>
                                    <input type="text" placeholder="Screen..." name="NewCondScreen">
                                </td>
                                <td>
                                    <input type="text" placeholder="Action..." name="NewCondAction">
                                </td>
                                <td>
                                    <input type="text" placeholder="Element..." name="NewCondElement">
                                </td>
                                <td>
                                    <input type="text" placeholder="Testdata..." name="NewCondTestData">
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success">Add</button>
                                </td>
                            </form>
                        {% endif %}
                {% endwith %}
            </table>
            <hr>
            Steps:<br>
            <table class="table numbered-list" width="100%">
                <tr>
                    <th scope="col"> # </th>
                    <th scope="col"> Screen </th>
                    <th scope="col"> Action </th>
                    <th scope="col"> Element </th>
                    <th scope="col"> TestData </th>
                    <th scope="col"> Expected result </th>
                    {% with url_name=request.resolver_match.url_name %}
                        {% if url_name == 'test_case_detail_in_progress' %}
                            <th scope="col"> Status </th>
                        {% elif url_name == 'edit_test_case' %}
                            <th scope="col"> </th>
                        {% endif %}

                    {% endwith %}
                </tr>
                {% for t in testcase.get_teststeps %}

                {% if t.get_step.get_condition.get_screen.get_title == 'profile' %}
                  <tr>

                        <td>

                        </td>
                        <td>
                            {{t.get_step.get_condition.get_screen}}
                        </td>
                        <td>
                            {{t.get_step.get_condition.get_action}}
                        </td>
                        <td>
                            {% if t.get_step.get_condition.get_element %}
                                {{t.get_step.get_condition.get_element}}
                            {% endif %}
                        </td>
                        <td>
                            {% if t.get_step.get_condition.get_testdata %}
                                {{t.get_step.get_condition.get_testdata}}
                            {% endif %}
                        </td>
                        <td>
                            {{t.get_step.get_expresult}}
                        </td>
                        {% with url_name=request.resolver_match.url_name %}
                            {% if url_name == 'test_case_detail_in_progress' %}
                                <td>
                                    <select>
                                      <option value="passed">Passed</option>
                                      <option value="failed">Failed</option>
                                      <option value="to be checked" selected>To be checked</option>
                                    </select>
                                </td>
                            {% elif url_name == 'edit_test_case' %}
                                 <td>
                                    <button type="submit" class="btn btn-warning" > Edit </button>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-danger" > Delete </button>
                                </td>
                            {% endif %}
                        {% endwith %}
                    </tr>
                {% else %}
                 <tr>

                        <td>

                        </td>
                        <td>
                            {{t.get_step.get_condition.get_screen}}
                        </td>
                        <td>
                            {{t.get_step.get_condition.get_action}}
                        </td>
                        <td>
                            {% if t.get_step.get_condition.get_element %}
                                {{t.get_step.get_condition.get_element}}
                            {% endif %}
                        </td>
                        <td>
                            {% if t.get_step.get_condition.get_testdata %}
                                {{t.get_step.get_condition.get_testdata}}
                            {% endif %}
                        </td>
                        <td>
                            {{t.get_step.get_expresult}}
                        </td>
                        {% with url_name=request.resolver_match.url_name %}
                            {% if url_name == 'test_case_detail_in_progress' %}
                                <td>
                                    <select>
                                      <option value="passed">Passed</option>
                                      <option value="failed">Failed</option>
                                      <option value="to be checked" selected>To be checked</option>
                                    </select>
                                </td>
                            {% elif url_name == 'edit_test_case' %}
                                 <td>
                                    <button type="submit" class="btn btn-warning" > Edit </button>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-danger" > Delete </button>
                                </td>
                            {% endif %}
                        {% endwith %}
                    </tr>
                {% endif %}

                    {% endfor %}
                       {% with url_name=request.resolver_match.url_name %}
                            {% if url_name == 'edit_test_case' or url_name == 'new_test_case' %}
                                <form method="post" name="AddStepForm">
                                    {% csrf_token %}
                                    <td>
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Screen..." name="NewStepScreen">
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Action..." name="NewStepAction">
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Element..." name="NewStepElement">
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Testdata..." name="NewStepTestData">
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Expected Result..." name="NewStepExpResult">
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-success">Add</button>
                                    </td>
                                </form>
                            {% endif %}
                    {% endwith %}
            </table>
            <hr>
            Tags:<br>
            <table class="table">
                <tr>
                    {% for t in testcase.get_tags %}
                        <td>
                            {{t}}
                        </td>
                    {% endfor %}
                    {% with url_name=request.resolver_match.url_name %}
                            {% if url_name == 'edit_test_case' %}
                                 <td>
                                    <button type="submit" class="btn btn-warning" > Edit </button>
                                </td>
                            {% endif %}
                        {% endwith %}
                </tr>
            </table>
            <table>
                {% with url_name=request.resolver_match.url_name %}
                            {% if url_name == 'edit_test_case' or url_name == 'new_test_case' %}
                            <form method="post" name="AddTagForm">
                                {% csrf_token %}
                                <tr>
                                    <td>
                                        <input type="text" placeholder="Tag..." name="NewTag">
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-success">Add</button>
                                    </td>
                                </tr>
                            </form>
                            {% endif %}
                    {% endwith %}
            </table>
        </div>


<br><br>
    <div align="center">
        <h1>
        {% with url_name=request.resolver_match.url_name %}
            {% if url_name == 'new_test_case' or url_name == 'test_case_detail_in_progress' %}
            <button type="submit" class="btn btn-success">Save</button>
            {% elif url_name == 'edit_test_case' %}
                <button type="submit" class="btn btn-warning"> Save </button>
            {% elif url_name == 'delete_test_case' %}
                <button type="submit" class="btn btn-danger"> Delete </button>
            {% else %}
            {% endif %}
        {% endwith %}
        </h1>
    </div>
<br><br>
<br><br>
<br><br>
<br><br>


</div>
{% endif %}
{% endblock %}






