{% extends 'base.html' %}


{% block content %}
<div class="offset-3 col-md-6">

{% with url_name=request.resolver_match.url_name %}
	{% if url_name == 'new_test_case' %}
		<h2> Add a new test-case </h2>
	{% elif url_name == 'edit_test_case' %}
		<h2> Edit test-case {{testcase}} </h2>
	{% else %}
		<h2> Delete test-case {{testcase}} </h2>
	{% endif %}
{% endwith %}
{% if messages %}
	{% for message in messages %}
		<div {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">X</span></button>
			<strong>{{message}}</strong>
		</div>
	{% endfor %}
{% else %}

<form method="post"> {% csrf_token %}
    <div class="form-group">
    {% for field in form %}
    	<hr>
    	<h4> {{field.label_tag}} </h4>
    	{{field}}
    {% endfor %}
	</div>
	{% with url_name=request.resolver_match.url_name %}
		{% if url_name == 'new_test_case' %}
			<button type="submit" class="btn btn-success" > Save </button>
		{% elif url_name == 'edit_test_case' %}
			<button type="submit" class="btn btn-warning" > Save </button>
		{% else %}
			<button type="submit" class="btn btn-danger" > Delete </button>
		{% endif %}
	{% endwith %}

</form>

</div>
{% endif %}
{% endblock %}