{% extends 'base.html' %}




{% block content %}
<style>

.numbered-list {
  counter-reset: tr;
  list-style-type: none;
  font-size: 14px;
  line-height: 18px;
  padding-left: 10px;
}

.numbered-list tr {
    position: relative;
    padding: 5px 0 5px 30px;
}

.numbered-list td:first-child:before {
      content: counter(tr);
      counter-increment: tr;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      text-align: center;
}


</style>
<div class="offset-3 col-md-6">

{% with url_name=request.resolver_match.url_name %}
	{% if url_name == 'new_test_case' %}
		<h2> Add a new test-case </h2>
	{% elif url_name == 'edit_test_case' %}
		<h2> Edit test-case {{testcase}} </h2>
	{% elif url_name == 'delete_test_case' %}
		<h2> Delete test-case {{testcase}} </h2>
	{% else %}
		<h2> Test-Case View </h2>
	{% endif %}
{% endwith %}



{% if messages %}
	{% for message in messages %}
		<div {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">X</span></button>
			<strong>{{message}}</strong>
		</div>
	{% endfor %}
{% else %}



<!-- testcase -->
<form method="post"> {% csrf_token %}
        <div align="left">
            <hr>
            Title:<br>
            <input type="text" name="title" value="{{testcase.get_title}}" disabled>
            <hr>
            Project:<br>
            <select disabled name="Project">
                <option selected>{{testcase.get_project}}</option>
            </select>
            <hr>
            Priority:<br>
            <select disabled name="Project">
                <option selected>{{testcase.get_priority}}</option>
            </select>
            <hr>
            Description:<br>
            <textarea rows="4" cols="50" name="description" disabled>
                {{testcase.get_description}}
            </textarea>
            <hr>


            <table class="table numbered-list" width="100%">
                <tr>
                    <th scope="col"> # </th>
                    <th scope="col"> Screen: </th>
                    <th scope="col"> Action: </th>
                    <th scope="col"> Element: </th>
                    <th scope="col"> TestData: </th>
                </tr>
                Condtitions:<br>
                {% for c in testcase.get_conditions %}
                    <tr>
                        <td>

                        </td>
                        <td>
                            <input type="text" value="{{c.get_screen}}" disabled>
                        </td>
                        <td>
                            <input type="text" value="{{c.get_action}}" disabled>
                        </td>
                        <td>
                            <input type="text" value="{{c.get_element}}" disabled>
                        </td>
                        <td>
                            <input type="text" style='width:100%' value="{{c.get_testdata}}" disabled>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <hr>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            Tags:<br>
            {% for t in testcase.get_tags %}
                <input type="text"  style='width:auto' value="{{t}}" disabled>
            {% endfor %}
        </div>



	{% with url_name=request.resolver_match.url_name %}
		{% if url_name == 'new_test_case' %}
			<button type="submit" class="btn btn-success" > Save </button>
		{% elif url_name == 'edit_test_case' %}
			<button type="submit" class="btn btn-warning" > Save </button>
		{% elif url_name == 'delete_test_case' %}
			<button type="submit" class="btn btn-danger" > Delete </button>
		{% else %}
		{% endif %}
	{% endwith %}

</form>

</div>
{% endif %}
{% endblock %}






