{% extends 'base.html' %}


{% block content %}
<div align="center"> <h1> <samp> Test-Cases</samp></h1> </div>
<table class="table">
	<thead>
		<form method="GET" action ="{% url 'TestCase:search' %}">
			<tr>
				<th scope ="col"></th>
				<th scope ="col">
                    <input name="qProject" value = "{{request.GET.qProject}}" placeholder="project...">
                </th>
				<th scope ="col">
					<input name="qText" value = "{{request.GET.qText}}" placeholder="some text...">
				</th>
				<th scope ="col"> 
					<input name="qPriority" value = "{{request.GET.qPriority}}" placeholder="priority...">
				</th>
				<th scope ="col">
					<input name="qTags" value = "{{request.GET.qTags}}" placeholder="tags...">
				</th>
				<th scope ="col">
					<button class="btn btn-success" type="submit">
						Search
					</button>
				</th>
				<th scope ="col"> <a href = ""> <button class = "btn btn-primary"> Create the new one </button></a> </th>
			</tr>
		</form>
	</thead>

	<thead class="thead-dark">
		<tr>
			<th scope="col"> ID </th>
			<th scope="col"> Project </th>
			<th scope="col"> TC Title </th>
			<th scope="col"> Priority </th>
			<th scope="col"> Tags </th>
			<th scope="col"> Edit </th>
			<th scope="col"> Delete </th>
		</tr>
	</thead>
	


	<tbody>
	{% for item in items %}
		<tr>
			<td> {{item.pk}} </td>
			<td> <a href= "{% url 'TestCase:project_detail' slug=item.project %}" > {{item.project}} </a> </td>
			<td> <a href = "{% url 'TestCase:test_case_detail' slug=item.slug %}"> {{item.title|truncatechars:20}} </a> </td>
			<td> {{item.priority}} </td>
			<td> {{item.get_tags}} </td>
			<td> <a href = "{% url 'TestCase:edit_test_case' pk=item.pk %}"> <button class = "btn btn-warning"> Edit </button></a></td>
			<td> <a href = "{% url 'TestCase:delete_test_case' pk=item.pk %}"><button class = "btn btn-danger"> Delete </button></a></td>

		</tr>		
	{% endfor %}
	</tbody>


</table>
{% include 'pagination.html' %}

{% endblock %}