{% extends 'base.html' %}


{% block content %}
<h1> {{testcycle.title}} {% if testcycle.status=="Passed" %} <font color="green"> {% elif testcycle.status=="Failed" %} <font color="red"> {% else %} <font color="black"> {{testcycle.status}} </font> </h1> 
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col"> Checked </th>
            <th scope="col"> TC Title </th>
            <th scope="col"> Priority </th>
            <th scope="col"> Tags </th>
        </tr>
    </thead>
    


    <tbody>
    {% for item in items %}
        <tr>
            <td> {% if item.check %} <input id="checkBox" type="checkbox" checked> {% else %} <input id="checkBox" type="checkbox" > {% endif %} </td>
            <td> <a href = "{% url 'TestCase:test_case_detail' slug=item.testcase.get_slug %}"> {{item.testcase.get_title|truncatechars:20}} </a> </td>
            <td> {{item.testcase.get_priority}} </td>
            <td> {{item.testcase.get_tags}} </td>
        </tr>
    {% endfor %}
    </tbody>


</table>
{% include 'pagination.html' %}

{% endblock %}