<!DOCTYPE html>
<html lang = "en">


<head>
	<title> home </title>
</head>


<body>


<div class="offset-1 col-md-4">

<h1> This is the catalog of available pages </h1>

<h3>
	<hr>
	<a href = "http://127.0.0.1:8000/admin/TestCase/"> default admin panel for the TestCase app </a>
	<hr>
	<a href = "http://127.0.0.1:8000/testcase/test-case-list/"> test-case list with pagination and search </a>
	<hr>
	<a href = "http://127.0.0.1:8000/testcase/test-case-list-admin/"> test-case list with edit and delete functions available </a>
	<hr>
	<a href="http://127.0.0.1:8000/testcase/new-test-case/"> test-case creating view </a>
	<hr>
	<a href = "http://127.0.0.1:8000/testcase/edit_test_case/1/"> example of test-case editor view </a>
	<hr>
	<a href="http://127.0.0.1:8000/testcase/delete_test_case/10/"> example of test-case delete view </a>
</h3>

</div>
</body>





</html>